@model CamposDealer.Application.InputModels.CreateSaleInputModel
@{
    ViewData["Title"] = "Cadastro de Vendas";
}

<h2>@ViewData["Title"]</h2>


<form action=@Url.Action("Post", "Sales") method="Post">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label for="Description" class="col-form-label">Id do Cliente: <span class="text-danger">*</span></label>
            @Html.TextBoxFor(model => model.IdClient, new { @maxlength = "100", @class = "form-control", @autocomplete = "off", @required = "required" })
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ProductValue" class="col-form-label">Id do Produto: <span class="text-danger">*</span></label>
            @Html.TextBoxFor(model => model.IdProduct, new { @maxlength = "100", @class = "form-control", @autocomplete = "off", @required = "required" })
            <span asp-validation-for="IdProduct" class="text-danger"></span> 
        </div>
        
        <div class="form-group">
            <label for="ProductValue" class="col-form-label">Quantidade do Produto: <span class="text-danger">*</span></label>
            @Html.TextBoxFor(model => model.SalesQtd, new { @maxlength = "100", @class = "form-control", @autocomplete = "off", @required = "required" })
            <span asp-validation-for="SalesQtd" class="text-danger"></span> 
        </div>
        
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar a lista</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}